# Copyright (c) 2023-2025 Valve Corporation
# Copyright (c) 2023-2025 LunarG, Inc.

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: ci

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.run_id  }}
    cancel-in-progress: true
  
on:
    push:
    workflow_dispatch:
    pull_request:
        branches:
            - main

env:
  CMAKE_GENERATOR: Ninja

permissions:
    contents: read

jobs:
  android:
    env:
      CMAKE_C_COMPILER_LAUNCHER: ccache
      CMAKE_CXX_COMPILER_LAUNCHER: ccache
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        abi: [ arm64-v8a ]
        build_tests: [ "OFF" ]
        stl_type: ["c++_static"]

    steps:
      - uses: actions/checkout@main
      - uses: lukka/get-cmake@latest
      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@main
        with:
          key: android-${{ matrix.abi }}-${{ matrix.build_tests }}-${{ matrix.stl_type }}
      - name: Configure
        run: |
          cmake -S . -B build/ --toolchain $ANDROID_NDK_LATEST_HOME/build/cmake/android.toolchain.cmake \
          -D ANDROID_PLATFORM=26 \
          -D CMAKE_ANDROID_ARCH_ABI=${{ matrix.abi }} \
          -D CMAKE_ANDROID_STL_TYPE=${{ matrix.stl_type }} \
          -D ANDROID_USE_LEGACY_TOOLCHAIN_FILE=NO \
          -D CMAKE_BUILD_TYPE=Release \
          -D BUILD_TESTS=${{ matrix.build_tests }} \
          -D UPDATE_DEPS=ON \
          -D BUILD_WERROR=OFF
      - name: Build
        run: cmake --build build/
      - name: Install
        run: |
             cmake --install build --prefix build/install
             $ANDROID_NDK_LATEST_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-strip build/install/**/*.so
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@main
        with:
    # Artifact name
          name: artifact# optional, default is artifact
    # A file, directory or wildcard pattern that describes what to upload
          path: build/install/**/*.so
    # The desired behavior if no files are found using the provided path.
